@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

   --color-primary: #ff495c;
   --color-secundary: #EB2F43;

   --text-color-primary: #4d4d4d;
   --text-color-secundary: #636262;

   --form-background-color: #acacac67;

   --border-color-primary: #ced4da;
}


   --red-100: #FED7D7;

   --gray-50: #F7FAFC;
   --gray-100: #EDF2F7;
   --gray-200: #E2E8F0;
   --gray-300: #CBD5E0;
   --gray-400: #A0AEC0;
   --gray-600: #4A5568;
   --gray-700: #2D3748;
}

@media (max-width: 1080px) {
   html {
     font-size: 93.75%;
   }
 }
 
 @media (max-width: 720px) {
   html {
     font-size: 87.5%;
   }
 }

body, input, textarea, select, button {
   font: 400 1rem "Inter", sans-serif;
 }

.body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
}

.flexRow {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
}

.flexColumn {
   display: flex;
   flex-direction: column;
}

.activeMenu {
   background-color: #fff;
   border-radius: 50px 0 0 50px;
   color: #FF495C !important;  
}

a:hover {
   color: inherit !important;
}